*{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

aside{
    position: fixed;
    right: 0;
    bottom: 0;
    top: 0;
    width: 400px;
    border-left: 1px solid black;
}

#container{
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 400px;
    padding: 50px;
    padding-bottom: 0;
    overflow-y: scroll;
    text-align: center;
}

.box{
    display: inline-block;
    width: 700px;
    position: relative;
    margin: 0;
    margin-bottom: 320px;
    min-height: 230px;
    box-shadow: 
    0 0 10px #066, 
    inset 0 0 10px #066;
    border-radius: 5px 5px 0 5px;
}

.box:nth-child(odd){
    box-shadow: 
    0 0 10px #7A0031, 
    inset 0 0 10px #7A0031;
    border-radius: 0px 5px 5px 5px;
    margin-bottom: 50px;
}

.box .poster{
    position: absolute;
    width: 150px;
    height: 200px;
}

.box:nth-child(even) .poster{
    right: 0;
    top: 100%;
    box-shadow: inherit;
    border-radius: 0 0 5px 5px;
}

.box:nth-child(odd) .poster{
    left: 0;
    bottom: 100%;
    box-shadow: inherit;
    border-radius: 5px 5px 0 0;
}

.box .comments{
    height: 150px;
    width: 50%;
    position: absolute;
    padding: 10px;
    overflow-y: scroll;
}

.box:nth-child(even) .comments{
    top: 100%;
    right: 150px;
    box-shadow: inherit;
    border-radius: 0 0 0 5px;
}

.box:nth-child(odd) .comments{
    bottom: 100%;
    left: 150px;
    box-shadow: inherit;
    border-radius: 0 5px 0 0;
}

.box .details{
    padding: 8px;
    margin: 0;
    box-shadow: inherit;
    width: 200px;
    position: absolute;
    top: 0;
    bottom: 0;
}

.box:nth-child(even) .details{
    border-radius: 5px 0 0 5px;
    float: left;
    background-color: #066;
    left: 0;
}

.box:nth-child(odd) .details{
    border-radius: 0 5px 5px 0;
    float: right;
    background-color: #7A0031;
    right: 0;
}

.box .user-pic{
    opacity: 0.9;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    float: left;
    margin-left: 20px;
}

.box:nth-child(odd) .user-pic{
    float: right;
    margin: 0;
    margin-right: 20px;
}

.box .details i{
    color: white;
    font-size: 1.5em;
    margin-top: 5px;
    opacity: 0.5
}

.box .details i:hover{
    opacity: 0.9;
    cursor: pointer;
}

.box .details h2{
    clear: both;
    color: white;
    font-weight: 300;
    font-size: 1.2em;
    margin: 5px 0;
}

.box .post{
    padding: 20px 30px;
    width: 500px;
    float: right;
    text-align: left;
}

.box:nth-child(odd) .post{
    float: left;
}

.box .details .username{
    color: #CCE0E0;
}

.box .comments .info{
    box-shadow: inherit;
    position: absolute;
    top: 60px;
    right: -60px;
    width: 150px;
    height: 30px;
    line-height: 30px;
    background-color: #066;
    color: white;
    font-weight: 300;
    letter-spacing: 5px;
    text-align: center;
}

.box:nth-child(odd) .comments .info{
    left: -60px;
    right: auto;
    background-color: #7A0031;
    border-radius: 0;
}

.box .comments .comment{
    text-align: left;
    width: 290px;
    margin-bottom: 10px;
    font-size: 0.9em;
    float: left;
}

.box:nth-child(odd) .comments .comment{
    float: right;
}

.box .comments .comment .commenter{
    float: left;
    color: #066;
    font-weight: 400;
    margin-right: 10px;
    display: inline;
}

.box:nth-child(odd) .comments .comment .commenter{
    color: #7A0031;
}

.rot{
    transform: rotate(-90deg);
}

#newPost{
    margin-bottom: 50px;
    box-shadow: 
    0 0 10px #458, 
    inset 0 0 10px #458;
    width: 700px;
    display: inline-block;
    padding: 25px;
}

#newPost p{
    float: left;
    clear: both;
    width: 100%;
}

#newPost select{
    float: right;
    height: 30px;
    background-color: white;
    min-width: 100px;
    padding: 0 10px;
    cursor: pointer;
}

#newPost textarea{
    float: right;
    width: 100%;
    font-size: 1.1em;
    padding: 10px 10px;
}

#newPost label{
    float: left;
}

#newPost select[name="rating"]{
    float: center;
    margin: 0 10px;
}

#newPost label[for="rating"]{
    float: center;
}

#newPost input[type="submit"]{
    background-color: white;
    height: 30px;
    border: none;
    border-bottom: 2px solid #457;
    font-size: 1.2em;
    width: 170px;
}

#newPost input[type="submit"]:hover{
    background-color: #457;
    color: white;
    cursor: pointer;
}

#newPost ul.errorlist{
    color: red;
    list-style: none;
    font-size: 0.8em;
    text-align: left;
    padding: 0;
    margin: 0;
}

#commentForm{
    display: none;
    box-shadow: 
    0 0 10px #89A, 
    inset 0 0 10px #89A;
    background-color: #89A;
    color: #235;
    margin: 0 auto;
    width: 450px;
    padding: 30px;
    margin-top: 200px;
    height: 200px;
    position: relative;
    z-index: 100;
}

#commentForm textarea{
    height: 75px;
    width: 100%;
    font-size: 1.1em;
}

#commentForm p{
    margin: 0;
}

#commentForm button{
    background-color: transparent;
    height: 30px;
    border: none;
    border-bottom: 2px solid #457;
    font-size: 1.2em;
    width: 170px;
    display: block;
    margin: 5px auto;
    color: #235;
}

#commentForm button:hover{
    background-color: #457;
    color: white;
    cursor: pointer;
}

#preventDiv{
    position: fixed;
    display: none;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #555;
    opacity: 0.5;
}
